@media (max-width: 991px) {
  .promo {
    background-size: 1000px 100%;

    .container {
      padding: 0 20px 0 20px;
    }

    &__header {
      font-size: 38px;
    }

    &__subheader {
      font-size: 20px;
    }

    .button_first {
      width: 160px;
      height: 35px;
    }

    .button_main {
      width: 280px;
      height: 45px;
    }

    &__link {
      margin-top: 10px;
      font-size: 15px;
    }
  }

  .consultation {
    padding: 70px 0 70px 0;

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .title {
      text-align: center;
      font-size: 30px;
    }

    &__descr {
      text-align: center;
      padding: 20px 0;
    }

    .button_submit {
      height: 52px;
    }
  }

  .carousel {
    .slick-slide {
      img {
        width: 580px;
        height: 380px;
        margin: 0 auto;
      }
    }

    &__inner {
      width: 720px;
    }
  }

  .catalog {
    padding-bottom: 30px;

    &__content {
      justify-content: space-around;
      max-width: 750px;
      margin: 60px auto;
    }

    &-item {
      margin-right: 0;
    }
  }

  .feed {
    .container {
      max-width: 700px;
      margin: 0 auto;
    }

    .title {
      margin-bottom: 50px;
    }

    &__text {
      margin-left: 20px;
      padding-right: 8px;
    }

    &__subtitle {
      margin-bottom: 5px;
      font-size: 16px;
    }

    &__count {
      margin-bottom: 15px;
    }

    img {
      width: 150px;
      height: 150px;
      margin-right: 50px;
    }

    &__descr {
      width: 490px;
      font-size: 15px;
    }

  }

  .footer {
    height: 500px;

    iframe {
      height: 560px;
    }

    &__info {
      width: 380px;
      height: 250px;
      padding: 40px 60px 40px 60px;

      &__addr {
        font-size: 19px;
      }

      &__phone {
        font-size: 19px;
      }

      &__social-item {
        width: 40px;
        height: 40px;
      }
    }
  }

  .modal {
    width: 330px;
    min-height: 320px;
    padding: 20px 25px 20px 25px;

    &__close {
      right: -25px;
      font-size: 35px;
      line-height: 22px;
    }

    &__subtitle {
      font-size: 17px;
    }

    &__descr {
      font-size: 13px;
    }
  }

  .feed-form_mt25 {
    margin-top: 10px;
    justify-content: center;
    align-items: inherit;
    width: 100%;

    input {
      height: 36px;
      margin-bottom: 10px;
      font-size: 13px;
    }

    button {
      height: 35px;
      font-size: 15px;
    }
  }
}

@media (max-width: 767px) {
  .promo {
    min-height: 575px;
    background-size: 1000px 100%;

    &__header {
      &__logo {
        width: 195px;
      }

      span {
        font-size: 17px;
      }

      &__phone {
        font-size: 15px;
      }

      button {
        width: 130px;
        height: 28px;
      }
    }

    .header {
      &__official {
        font-size: 10px;

        span {
          font-size: 16px;
        }
      }

      &__phone {
        font-size: 16px;
      }

      button {
        width: 145px;
      }
    }
  }

  .promo {
    padding-bottom: 70px;

    &__header {
      font-size: 32px;
    }

    &__subheader {
      font-size: 18px;
    }

    &__wrapper {
      align-items: center;
    }

    &__icon {
      font-size: 12px;
    }

    .button__main {
      width: 280px;
      height: 45px;
      font-size: 14px;
    }

    &__link {
      font-size: 15px;
    }
  }

  .advantages {
    &__title {
      font-size: 28px;
    }

    &__subtitle {
      font-size: 15px;
    }

    &__descr {
      width: 170px;
      font-size: 12px;
    }
  }

  .consultation {
    .feed-form {
      width: 280px;
    }

    .button_submit {
      height: 50px;
    }
  }

  .carousel {
    .slick-slide {
      img {
        width: 450px;
        height: 350px;
        margin: 0 auto;
      }
    }

    &__inner,
    .slick-slider {
      width: 550px;
    }
  }

  .title {
    font-size: 28px;
  }

  .catalog {
    margin-bottom: 20px;

    .title {
      font-size: 26px;
    }

    &__tabs {
      margin-top: 50px;
    }

    &__tab {
      width: 170px;
      height: 45px;
      font-size: 16px;
      line-height: 42px;
    }

    &-item {
      width: 270px;
      min-height: 410px;
      line-height: normal;
    }

    &__content {
      margin: 40px auto;
    }
  }

  .feed {
    margin-bottom: 40px;

    .container {
      max-width: 520px;
      margin: 0 auto;
    }

    .title {
      margin-bottom: 40px;
      font-size: 26px;
    }

    &__text {
      margin-left: 20px;
      padding-right: 8px;
    }

    &__subtitle {
      margin-bottom: 5px;
      font-size: 16px;
    }

    &__count {
      margin-bottom: 8px;
    }

    img {
      width: 120px;
      height: 120px;
      margin-right: 30px;
    }

    &__descr {
      width: 370px;
      font-size: 13px;
    }

  }

  .footer {
    height: 350px;

    iframe {
      height: 600px;
    }

    &__info {
      width: 300px;
      height: 210px;
      padding: 20px 40px 20px 40px;
    }

    &__addr {
      margin-bottom: 30px;
      font-size: 14px;
    }

    &__phone {
      font-size: 14px;
    }

    &__social-item {
      width: 35px;
      height: 35px;

      img {
        height: 20px;
      }
    }
  }
}

@media (max-width: 575px) {
  .promo {
    background-size: 800px 100%;
  }

  .header {
    &__logo {
      width: 210px;
    }

    &__official {
      display: none;
    }

    &__phone {
      font-size: 13px;
    }

    .button {
      margin-top: 3px;
    }
  }

  .promo {
    &__wrapper {
      text-align: center;
    }

    &__icons {
      width: 350px;
    }
  }

  .advantages {
    padding-top: 40px;

    &__wrapper {
      flex-direction: column;
      margin-top: 40px;
      align-items: center;
      justify-content: center;
    }

    &__item {
      margin-bottom: 50px;
    }

    &__subtitle {
      font-size: 18px;
    }

    &__descr {
      width: 270px;
      font-size: 15px;
      margin-top: 15px;
    }
  }

  .consultation {
    padding-top: 70px;

    .title_left {
      font-size: 27px;
    }
  }

  .carousel {
    .slick-slide {
      img {
        width: 290px;
        height: 230px;
        margin: 0 auto;
      }
    }

    &__inner,
    .slick-slider {
      width: 300px;
    }
  }

  .catalog {
    &__tabs {
      margin-top: 40px;
    }

    .catalog {
      margin-bottom: 10px;

      &__tab {
        width: 110px;
        height: 40px;
        font-size: 11px;
        line-height: 39px;
      }

      &__content_active {
        flex-direction: column;
        align-items: center;
      }
    }
  }

  .feed {
    margin-bottom: 20px;

    .container {
      max-width: 380px;
      margin: 0 auto;
    }

    .title {
      margin-bottom: 30px;
      font-size: 26px;
    }

    &__subtitle {
      margin-bottom: 5px;
      font-size: 16px;
    }

    &__count {
      margin-bottom: 8px;
    }

    &__item {
      margin-top: 50px;
    }

    img {
      width: 80px;
      height: 80px;
      margin-right: 20px;
    }

    &__text {
      margin-left: 20px;
      padding-right: 0;
    }

    &__descr {
      width: 290px;
      font-size: 13px;
    }

  }

  .footer {
    height: 300px;

    iframe {
      height: 520px;
    }

    &__info {
      width: 240px;
      height: 180px;
      padding: 10px 20px 10px 20px;
    }

    &__addr {
      font-size: 13px;
      margin-bottom: 20px;
    }

    &__phone {
      margin-bottom: 25px;
    }
  }
}

@media (max-width: 280px) {
  .promo {
    .header__phone {
      font-size: 12px;
    }

    .header {
      .button_first {
        margin-top: 5px;
        width: 115px;
        height: 30px;
        font-size: 11px;
      }
    }

    .header__logo {
      img {
        width: 125px;
        position: absolute;
        top: 15px;
        left: 5px;
      }
    }

    &__icons {
      width: 265px;
    }

    .button_main {
      width: 250px;
    }
  }

  .consultation {

    .feed-form {
      width: 250px;
    }
  }

  .carousel {

    .slick-slider,
    .carousel__inner {
      width: 280px;
    }

    .slick-slide img {
      width: 220px;
      height: 200px;
    }
  }

  .catalog {
    .catalog__tab {
      width: 75px;
      height: 40px;
      font-size: 8px;
      line-height: 39px;
    }

    &-item {
      width: 240px;
    }
  }

  .feed {
    img {
      width: 60px;
      height: 60px;
      margin: 0 5px;
    }

    &__descr {
      width: 180px;
      font-size: 12px;
    }
  }

  .footer {
    &__info {
      width: 200px;
      height: 160px;
      padding: 5px 10px 5px 10px;

      &__addr {
        margin-bottom: 10px;
      }

      &__phone {
        margin-bottom: 20px;
      }

      &__social-item {
        img {
          height: 20px;
        }
      }
    }
  }

  .overlay {
    .modal {
      width: 200px;
      min-height: 15px 20px 15px 20px;

      &__subtitle {
        font-size: 16px;
      }
    }

    .feed-form_mt25 button {
      height: 45px;
      font-size: 14px;
    }
  }
}